In [30]:
import os
import dotenv
import psycopg2
from psycopg2 import sql
import pandas as pd
from groq import Groq
from pyspark.sql import SparkSession

In [31]:
def get_llama_assistance(prompt, formatted_metadata, table_name):
    main_purpose = f"""
    As an SQL Query Expert, your primary role is to understand the given data, answer the questions based on the provided input and generate accurate SQL queries ONLY. 
    Remember, you only have to answer the Query for the given input, don't give any explanation, just the query. 
    Here are the column names with respect to their information: 
    {formatted_metadata}
    The table name is {table_name}
    Here is/are the Questions:"""

    client = Groq(api_key=os.environ.get("GROQ_API_KEY"))
    completion = client.chat.completions.create(
        model="llama3-70b-8192",
        messages=[
            {
                "role": "user",
                "content": f"{main_purpose} {prompt}"
            },
            {
                "role": "assistant",
                "content": ""
            }
        ],
        temperature=1.4,
        max_tokens=8192,
        top_p=1,
        stream=True,
        stop=None,
    )

    response_text = ""
    for chunk in completion:
        response_text += chunk.choices[0].delta.content or ""
    
    # Remove backticks from the response
    cleaned_response = response_text.replace("```", "").strip()
    
    return cleaned_response

### PySpark

In [32]:
spark = SparkSession.builder.getOrCreate()
d = spark.read.csv("test_data.csv", header=True)
d.show()

+------+--------+--------+--------------------+-----------------+------------------+-----------+-------------+---------------------+---------------+-----------+---------+---------+-------------------------------+----------------+------------+--------------+-----------------+-------------------+-------------+-------------------------+--------------------------+---------+----------------------+-----------------+------+-------------+-----------------------+--------------------+------------------------+-----------------+
|ref_no|children|age_band|              status|       occupation|occupation_partner|home_status|self_employed|self_employed_partner|year_last_moved|     tvarea|post_code|post_area|average_credit_card_transaction|balance_transfer|term_deposit|life_insurance|medical_insurance|average_a_c_balance|personal_loan|investment_in_mutual_fund|investment_tax_saving_bond|home_loan|online_purchase_amount|discount_offering|gender|       region|investment_in_commudity|investment_in_equity|investment_in_derivative|portfolio_balance|
+------+--------+--------+--------------------+-----------------+------------------+-----------+-------------+---------------------+---------------+-----------+---------+---------+-------------------------------+----------------+------------+--------------+-----------------+-------------------+-------------+-------------------------+--------------------------+---------+----------------------+-----------------+------+-------------+-----------------------+--------------------+------------------------+-----------------+
|     1|    Zero|   51-55|             Partner|    Manual Worker| Secretarial/Admin|   Own Home|           No|                   No|           1972|        HTV|  NP4 9HS|      NP4|                         148.44|          142.95|         0.0|         81.96|              0.0|              29.99|          0.0|                    61.95|                     19.99|      0.0|                   0.0|                1|Female|        Wales|                  74.67|               18.66|                   32.32|            89.43|
|     2|    Zero|   55-60|Single/Never Married|          Retired|           Retired|   Own Home|           No|                   No|           1998|    Granada|  M41 0QH|      M41|                            0.0|           74.98|         0.0|         25.99|              0.0|                0.0|          0.0|                      0.0|                       0.0|      0.0|                   0.0|                2|Female|   North West|                  20.19|                 0.0|                    4.33|            22.78|
|     3|    Zero|   26-30|Single/Never Married|     Professional|             Other|   Own Home|          Yes|                   No|           1996|  Tyne Tees| NE30 1JZ|     NE30|                            0.0|          166.44|       20.99|        291.37|            11.48|             166.94|          0.0|                    15.99|                       0.0|     3.49|                   0.0|                2|  Male|        North|                  98.06|               31.07|                   80.96|           171.78|
|     5|    Zero|   18-21|Single/Never Married|     Professional|     Manual Worker|   Own Home|           No|                   No|           1997|    Central|  HR9 7RJ|      HR9|                            0.0|             0.0|         0.0|         20.49|              0.0|              39.46|          0.0|                    45.44|                       0.0|      0.0|                   0.0|                2|Female|West Midlands|                    4.1|               14.15|                   17.57|            -41.7|
|     6|    Zero|   45-50|             Partner| Business Manager|           Unknown|   Own Home|           No|                   No|           1995|Scottish TV| KA10 7LS|     KA10|                          73.45|           57.96|         0.0|        177.42|            41.95|              39.47|        10.97|                   212.84|                       0.0|    45.91|                 25.98|                2|Female|     Scotland|                  70.16|               55.86|                   80.44|           235.02|
|     7|    Zero|   55-60|             Partner|Secretarial/Admin|     Manual Worker|   Own Home|           No|                  Yes|           1984|     Anglia| IP24 1AY|     IP24|                            0.0|          125.45|         0.0|        129.96|              0.0|                0.0|          0.0|                    88.95|                       0.0|      0.0|                   0.0|                2|Female|  East Anglia|                  51.08|               14.83|                   36.49|             72.3|
|     8|    Zero|   45-50|             Partner|     Professional|     Manual Worker|   Own Home|           No|                   No|           1985|    Central| CV32 7BN|     CV32|                            0.0|           29.48|       97.42|          0.02|            39.45|              63.97|          0.0|                    49.42|                       0.0|      0.0|                   0.0|                2|Female|West Midlands|                  33.27|                18.9|                   25.48|           115.28|
|     9|       1|   36-40|             Partner|     Professional|      Professional|   Own Home|           No|                   No|           1993|Scottish TV|  G68 9AN|      G68|                            0.0|            0.01|      175.88|         67.47|              0.0|             110.95|        86.39|                    74.93|                     41.71|    35.41|                 11.99|                2|Female|     Scotland|                  48.67|               60.23|                   63.58|            162.4|
|    10|    Zero|   36-40|Single/Never Married|Secretarial/Admin|           Unknown|   Own Home|           No|                   No|           1995|    Carlton|  E15 3AR|      E15|                           25.0|             0.0|       76.45|         24.99|              0.0|              87.93|          0.0|                   253.27|                     12.48|     7.21|                  8.99|                2|  Male|   South East|                  25.29|               61.65|                   63.11|            105.2|
|    11|       2|   36-40|             Partner|     Professional|      Professional|   Own Home|           No|                   No|           1993|    Granada| WA14 4UH|     WA14|                            0.0|           74.98|       62.98|        141.91|            44.48|                0.0|        13.99|                    49.95|                       0.0|    10.49|                  7.98|                2|Female|   North West|                  64.87|               13.74|                   41.72|            93.09|
|    13|    Zero|   61-65|             Partner|          Retired|           Retired|   Own Home|           No|                   No|           1987|    Granada| LL18 3BB|     LL18|                            0.0|           24.99|         0.0|           0.0|              0.0|                0.0|          0.0|                      0.0|                       0.0|     5.99|                   0.0|                2|Female|        Wales|                    5.0|                 1.0|                     0.0|           -18.84|
|    14|    Zero|   45-50|             Partner| Business Manager|      Professional|   Own Home|           No|                   No|           1986|        HTV| SA73 1AX|     SA73|                            0.0|          118.98|         0.0|         92.46|              0.0|                0.0|          0.0|                   113.46|                       0.0|     9.99|                   0.0|                2|Female|        Wales|                  42.29|               20.58|                   34.32|           129.71|
|    15|    Zero|   51-55|             Widowed|     Professional|           Unknown|   Own Home|           No|                   No|           1997|   Meridian|   L7 5QN|       L7|                            0.0|           49.47|       59.48|        235.78|             9.48|              95.93|          0.0|                    51.95|                       0.0|     4.48|                 12.98|                2|Female|   North West|                  70.84|               27.56|                   65.52|           175.41|
|    16|    Zero|   31-35|Single/Never Married|    Manual Worker| Secretarial/Admin|   Own Home|           No|                   No|           1998|    Central|  GL2 4WP|      GL2|                          16.98|           25.99|      219.46|         34.48|           102.45|              49.99|        50.96|                    17.99|                       2.0|      0.0|                   0.0|                2|  Male|   South West|                  79.87|               20.16|                   42.98|            77.14|
|    17|       1|   31-35|             Partner|Secretarial/Admin|  Business Manager|   Own Home|           No|                   No|           1994|    Central|  B77 4NU|      B77|                         117.48|           69.97|       82.97|         77.96|              0.0|              11.49|        45.98|                    19.47|                      7.49|    18.46|                 13.98|                2|Female|West Midlands|                  69.68|               19.48|                   27.07|            78.41|
|    18|    Zero|   26-30|             Partner|          Unknown|      Professional|   Own Home|          Yes|                   No|           1998|Scottish TV| ML10 6XH|     ML10|                            0.0|           99.96|       39.48|        135.41|            44.48|              56.46|          0.0|                   123.39|                       0.0|    39.96|                   0.0|                2|Female|     Scotland|                  63.87|               36.64|                   59.96|           115.89|
|    19|    Zero|   41-45|             Partner|Secretarial/Admin|           Unknown|   Own Home|           No|                  Yes|           1986|    Central| CV11 6YH|     CV11|                          19.99|            9.98|       29.48|         73.95|            30.48|              78.96|        26.47|                    99.13|                       0.0|      0.0|                   0.0|                2|Female|West Midlands|                  32.78|               34.09|                    51.5|           129.15|
|    20|    Zero|   41-45|  Divorced/Separated|     Professional|           Unknown|   Own Home|           No|                   No|           1974|    Central| CV31 2RQ|     CV31|                          34.49|          182.47|         0.0|        131.94|              0.0|             112.46|          0.0|                    48.97|                       0.0|      0.0|                 27.99|                2|Female|West Midlands|                  69.78|               31.57|                    48.9|           150.56|
|    21|       1|   41-45|             Partner|Secretarial/Admin|     Manual Worker|   Own Home|           No|                   No|           1983|    Central| WV15 5AY|     WV15|                          35.48|             0.0|         0.0|        122.45|            39.47|              47.45|        63.93|                    86.43|                     12.49|    21.46|                   0.0|                2|Female|West Midlands|                  39.48|               38.63|                   62.04|           134.44|
|    23|    Zero|   41-45|  Divorced/Separated|Secretarial/Admin|           Unknown|   Own Home|           No|                   No|           1997|        HTV|  TA2 6HY|      TA2|                            0.0|           61.98|       44.98|        189.42|            26.45|              22.96|          0.0|                   232.33|                       0.0|      0.0|                 16.99|                2|Female|   South West|                  64.57|               45.38|                   78.53|           207.07|
+------+--------+--------+--------------------+-----------------+------------------+-----------+-------------+---------------------+---------------+-----------+---------+---------+-------------------------------+----------------+------------+--------------+-----------------+-------------------+-------------+-------------------------+--------------------------+---------+----------------------+-----------------+------+-------------+-----------------------+--------------------+------------------------+-----------------+
only showing top 20 rows

In [33]:
d.printSchema()

root
 |-- ref_no: string (nullable = true)
 |-- children: string (nullable = true)
 |-- age_band: string (nullable = true)
 |-- status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- occupation_partner: string (nullable = true)
 |-- home_status: string (nullable = true)
 |-- self_employed: string (nullable = true)
 |-- self_employed_partner: string (nullable = true)
 |-- year_last_moved: string (nullable = true)
 |-- tvarea: string (nullable = true)
 |-- post_code: string (nullable = true)
 |-- post_area: string (nullable = true)
 |-- average_credit_card_transaction: string (nullable = true)
 |-- balance_transfer: string (nullable = true)
 |-- term_deposit: string (nullable = true)
 |-- life_insurance: string (nullable = true)
 |-- medical_insurance: string (nullable = true)
 |-- average_a_c_balance: string (nullable = true)
 |-- personal_loan: string (nullable = true)
 |-- investment_in_mutual_fund: string (nullable = true)
 |-- investment_tax_saving_bond: string (nullable = true)
 |-- home_loan: string (nullable = true)
 |-- online_purchase_amount: string (nullable = true)
 |-- discount_offering: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- region: string (nullable = true)
 |-- investment_in_commudity: string (nullable = true)
 |-- investment_in_equity: string (nullable = true)
 |-- investment_in_derivative: string (nullable = true)
 |-- portfolio_balance: string (nullable = true)

In [34]:
d.createOrReplaceTempView("d")
new_query = spark.sql('''SELECT 
  status, 
  AVG(portfolio_balance) AS avg_portfolio_balance, 
  AVG(medical_insurance) AS avg_medical_insurance
FROM 
  d
GROUP BY 
  status;''').show()

+--------------------+---------------------+---------------------+
|              status|avg_portfolio_balance|avg_medical_insurance|
+--------------------+---------------------+---------------------+
|             Partner|    91.48552990011672|    19.34997924503847|
|Single/Never Married|    88.66623978201653|    18.46096276112623|
|             Unknown|             65.86375|   13.132291666666669|
|  Divorced/Separated|     91.4188070692194|   19.051767304860014|
|             Widowed|    81.72394822006467|   18.327686084142346|
+--------------------+---------------------+---------------------+

In [38]:
spark.sql('''SELECT 
  status, 
  AVG(portfolio_balance) AS avg_portfolio_balance, 
  AVG(medical_insurance) AS avg_medical_insurance
FROM 
  d
GROUP BY 
  status;''').toPandas()

                 status  avg_portfolio_balance  avg_medical_insurance
0               Partner              91.485530              19.349979
1  Single/Never Married              88.666240              18.460963
2               Unknown              65.863750              13.132292
3    Divorced/Separated              91.418807              19.051767
4               Widowed              81.723948              18.327686

In [ ]:
schema = d.schema
columns = [(field.name, field.dataType.simpleString()) for field in schema.fields]
for i in columns:
    print(i)

('ref_no', 'string')
('children', 'string')
('age_band', 'string')
('status', 'string')
('occupation', 'string')
('occupation_partner', 'string')
('home_status', 'string')
('self_employed', 'string')
('self_employed_partner', 'string')
('year_last_moved', 'string')
('tvarea', 'string')
('post_code', 'string')
('post_area', 'string')
('average_credit_card_transaction', 'string')
('balance_transfer', 'string')
('term_deposit', 'string')
('life_insurance', 'string')
('medical_insurance', 'string')
('average_a_c_balance', 'string')
('personal_loan', 'string')
('investment_in_mutual_fund', 'string')
('investment_tax_saving_bond', 'string')
('home_loan', 'string')
('online_purchase_amount', 'string')
('discount_offering', 'string')
('gender', 'string')
('region', 'string')
('investment_in_commudity', 'string')
('investment_in_equity', 'string')
('investment_in_derivative', 'string')
('portfolio_balance', 'string')

In [ ]:
# Version Mismatch, use 3.11
table_metadata = {}
for column_name, data_type in columns:
    column_name = column_name.lower().replace(" ", "_").replace("/", "_")        
    unique_values = []
    if data_type == 'string':
        unique_values = d.select(column_name).distinct().limit(10).rdd.flatMap(lambda x: x).collect()        
        table_metadata[column_name] = {
                'data_type': data_type,
                'unique_values': unique_values
            }
        
print(table_metadata)

{'ref_no': {'data_type': 'string', 'unique_values': ['296', '467', '675', '691', '829', '1090', '1436', '1512', '1572', '2069']}, 'children': {'data_type': 'string', 'unique_values': ['3', '4+', 'Zero', '1', '2']}, 'age_band': {'data_type': 'string', 'unique_values': ['41-45', '22-25', '45-50', '18-21', 'Unknown', '31-35', '71+', '51-55', '61-65', '55-60']}, 'status': {'data_type': 'string', 'unique_values': ['Partner', 'Single/Never Married', 'Unknown', 'Divorced/Separated', 'Widowed']}, 'occupation': {'data_type': 'string', 'unique_values': ['Student', 'Unknown', 'Other', 'Business Manager', 'Professional', 'Manual Worker', 'Housewife', 'Secretarial/Admin', 'Retired']}, 'occupation_partner': {'data_type': 'string', 'unique_values': ['Student', 'Unknown', 'Other', 'Business Manager', 'Professional', 'Manual Worker', 'Housewife', 'Secretarial/Admin', 'Retired']}, 'home_status': {'data_type': 'string', 'unique_values': ['Own Home', 'Rent Privately', 'Live in Parental Hom', 'Rent from Council/HA', 'Unclassified']}, 'self_employed': {'data_type': 'string', 'unique_values': ['No', 'Yes']}, 'self_employed_partner': {'data_type': 'string', 'unique_values': ['No', 'Yes']}, 'year_last_moved': {'data_type': 'string', 'unique_values': ['1953', '1903', '1957', '1987', '1956', '1936', '1958', '1910', '1943', '1915']}, 'tvarea': {'data_type': 'string', 'unique_values': ['Ulster', 'Grampian', 'Border', 'Tyne Tees', 'Unknown', 'Granada', 'Central', 'Yorkshire', 'TV South West', 'HTV']}, 'post_code': {'data_type': 'string', 'unique_values': ['PL1 5RH', 'CA28 6SB', 'TQ12 3TR', 'NG10 3GH', 'L10 7DR', 'BH23 1RB', 'PR6 7EA', 'GU15 4DD', 'B92 9AX', 'IG6 1LN']}, 'post_area': {'data_type': 'string', 'unique_values': ['RG24', 'TQ14', 'NR19', 'NR8', 'WF4', 'CT17', 'M19', 'WF8', 'DL6', 'L19']}, 'average_credit_card_transaction': {'data_type': 'string', 'unique_values': ['23.97', '31.47', '48.04', '89.46', '15.49', '59.44', '150.94', '18.96', '174.48', '169.92']}, 'balance_transfer': {'data_type': 'string', 'unique_values': ['89.46', '23.97', '116.99', '249.99', '65.32', '259.44', '189.92', '145.42', '437.4', '150.94']}, 'term_deposit': {'data_type': 'string', 'unique_values': ['23.97', '89.46', '31.47', '160.91', '73.43', '88.94', '182.93', '340.35', '18.96', '15.49']}, 'life_insurance': {'data_type': 'string', 'unique_values': ['105.42', '189.92', '30.86', '221.87', '105.92', '31.47', '88.94', '191.9', '23.97', '89.46']}, 'medical_insurance': {'data_type': 'string', 'unique_values': ['23.97', '105.42', '31.47', '73.43', '55.41', '79.41', '89.46', '15.49', '18.96', '71.83']}, 'average_a_c_balance': {'data_type': 'string', 'unique_values': ['31.47', '23.97', '143.92', '105.92', '89.46', '88.94', '55.41', '36.65', '110.9', '1.0']}, 'personal_loan': {'data_type': 'string', 'unique_values': ['88.94', '23.97', '31.47', '89.46', '55.41', '13.87', '143.92', '28.37', '73.43', '160.91']}, 'investment_in_mutual_fund': {'data_type': 'string', 'unique_values': ['31.47', '23.97', '105.42', '110.9', '28.79', '88.94', '73.43', '10.7', '78.9', '79.41']}, 'investment_tax_saving_bond': {'data_type': 'string', 'unique_values': ['73.43', '8.5', '1.0', '18.96', '15.49', '36.12', '14.49', '29.45', '49.96', '71.97']}, 'home_loan': {'data_type': 'string', 'unique_values': ['42.87', '23.97', '20.64', '73.43', '8.5', '31.47', '10.7', '23.92', '1.0', '18.96']}, 'online_purchase_amount': {'data_type': 'string', 'unique_values': ['23.97', '55.41', '105.92', '31.47', '189.92', '73.43', '34.63', '78.9', '174.44', '1.0']}, 'discount_offering': {'data_type': 'string', 'unique_values': ['1', '2']}, 'gender': {'data_type': 'string', 'unique_values': ['Female', 'Unknown', 'Male']}, 'region': {'data_type': 'string', 'unique_values': ['North West', 'Wales', 'South East', 'Isle of Man', 'Unknown', 'Channel Islands', 'East Anglia', 'South West', 'East Midlands', 'West Midlands']}, 'investment_in_commudity': {'data_type': 'string', 'unique_values': ['10.7', '287.23', '8.5', '83.65', '28.79', '65.66', '40.67', '42.87', '65.32', '13.87']}, 'investment_in_equity': {'data_type': 'string', 'unique_values': ['31.47', '7.16', '20.64', '34.71', '48.04', '8.5', '23.97', '10.7', '91.75', '37.21']}, 'investment_in_derivative': {'data_type': 'string', 'unique_values': ['7.16', '48.04', '31.47', '19.06', '8.5', '10.7', '34.71', '73.54', '79.41', '200.88']}, 'portfolio_balance': {'data_type': 'string', 'unique_values': ['222.63', '122.2', '119.8', '55.41', '-44.7', '102.0', '28.37', '243.46', '-2.33', '-3.35']}}

In [ ]:
new_table = spark.table("d")

In [ ]:
new_table

DataFrame[ref_no: string, children: string, age_band: string, status: string, occupation: string, occupation_partner: string, home_status: string, self_employed: string, self_employed_partner: string, year_last_moved: string, tvarea: string, post_code: string, post_area: string, average_credit_card_transaction: string, balance_transfer: string, term_deposit: string, life_insurance: string, medical_insurance: string, average_a_c_balance: string, personal_loan: string, investment_in_mutual_fund: string, investment_tax_saving_bond: string, home_loan: string, online_purchase_amount: string, discount_offering: string, gender: string, region: string, investment_in_commudity: string, investment_in_equity: string, investment_in_derivative: string, portfolio_balance: string]

### Session-2

In [ ]:
spark = SparkSession.builder.getOrCreate()
d = spark.read.csv("test_data.csv", header=True).toPandas()

In [ ]:
d.columns

Index(['ref_no', 'children', 'age_band', 'status', 'occupation',
       'occupation_partner', 'home_status', 'self_employed',
       'self_employed_partner', 'year_last_moved', 'tvarea', 'post_code',
       'post_area', 'average_credit_card_transaction', 'balance_transfer',
       'term_deposit', 'life_insurance', 'medical_insurance',
       'average_a_c_balance', 'personal_loan', 'investment_in_mutual_fund',
       'investment_tax_saving_bond', 'home_loan', 'online_purchase_amount',
       'discount_offering', 'gender', 'region', 'investment_in_commudity',
       'investment_in_equity', 'investment_in_derivative',
       'portfolio_balance'],
      dtype='object')